/*
0-600px  Phone
600-900px Tablet portrait
900-1200px Table landscape
1200 -1800 is where normal styles apply
1800px + : Big Desktop
$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop
OREDR: BASE + typography > general layout > grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*it will make the width/height to count 
    the padding and the border*/
  margin: 3rem auto;
  max-width: 90rem;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  height: 60rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #FA6161;
  color: #FDFDFD; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #545454; }

.heading-primary {
  color: #FA6161;
  font-size: 5em; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  .paragraph--small {
    font-size: 1.2rem; }
  .paragraph--grey {
    color: #989898;
    font-weight: 800; }
  .paragraph--red {
    color: #FA6161;
    font-weight: 800; }

.form {
  margin: 1rem 15rem 3rem 15rem;
  min-width: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .form {
      margin: 1rem 7rem 3rem 7rem; } }
  .form__input {
    border: none;
    border-color: rgba(253, 253, 253, 0.5);
    display: block;
    padding: 1rem;
    border-radius: 2px;
    width: 100%;
    margin-top: 1rem; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgab(#989898, 0.1);
      border-bottom: 3px solid #FA6161; }
    .form__input::-webkit-input-placeholder {
      color: #989898; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: .7rem;
    display: block;
    transition: all .4s;
    text-align: left;
    color: #545454; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }

.btn, .btn:link, .btn:visited {
  width: 100%;
  display: inline-block;
  border-radius: .2rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  padding: .9rem;
  cursor: pointer; }

.btn--red {
  background-color: #FA6161;
  color: #FDFDFD;
  font-weight: 600; }

.pencil {
  transform: translateY(-2rem); }
  .pencil__top {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid #5785FF;
    text-align: center; }
  .pencil__middle {
    border-bottom: 4rem solid #FDFDFD;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    height: 0;
    width: 6rem; }
  .pencil__bottom {
    width: 6rem;
    height: 25rem; }
    .pencil__bottom-left {
      height: 100%;
      background: #4365BE;
      width: 50%;
      float: left; }
    .pencil__bottom-right {
      height: 100%;
      background: #5785FF;
      width: 50%;
      float: right; }

.square {
  width: 6rem;
  height: 6rem;
  background: #FCC903; }

.circle {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #FDFDFD; }

.triangle {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid black; }

.hexagon {
  width: 5rem;
  height: 2.5rem;
  background: #5785FF;
  position: relative; }

.hexagon:before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  border-bottom: 1.5rem solid #5785FF; }

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  border-top: 1.5rem solid #5785FF; }

.pentagon {
  position: relative;
  width: 5rem;
  height: 2.5rem;
  background-color: #FCC903; }

.pentagon:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -2rem;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  border-bottom: 2rem solid #FCC903; }

.navigation {
  height: 3rem;
  padding: .5rem;
  position: absolute;
  z-index: 1; }
  .navigation__button {
    display: inline-block;
    margin: .3rem .2rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%; }
    .navigation__button-green {
      background-color: #34C943;
      border: 0.1rem solid #31bd3f; }
    .navigation__button-yellow {
      background-color: #FCC903;
      border: 0.1rem solid #e3b503; }
    .navigation__button-red {
      background-color: #FA6161;
      border: 0.1rem solid #ed0808; }

.header {
  height: 33%;
  padding-top: 6rem; }

.footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); }

.col {
  height: 100%;
  float: left;
  width: 33.33333%; }
  .col * {
    margin: 0 auto; }

.row {
  display: flex;
  align-items: center; }
  .row-1 {
    height: 12.5%; }
  .row-2 {
    height: 25%; }
  .row-3 {
    height: 37.5%; }
  .row-4 {
    height: 50%; }
  .row-5 {
    height: 62.5%; }
  .row-6 {
    height: 75%; }
  .row-7 {
    height: 87.5%; }
  .row-8 {
    height: 100%; }

.section-left,
.section-right {
  height: 100%; }

.section-left {
  padding: 0 1.5rem;
  background-color: #FA6161;
  width: 35%;
  float: left;
  border-radius: 3px 0 0 3px; }
  @media only screen and (max-width: 37.5em) {
    .section-left {
      display: none; } }

.section-right {
  background-color: #EFEFEF;
  border-radius: 0 3px 3px 0;
  float: right;
  width: 65%;
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section-right {
      width: 100%; } }
