.col {
  // border: 1px solid black;
  height: 100%;
  float: left;
  width: 33.33333%;
}

.row-1{
  // border: 1px solid black;
  height: 12.5%;
}
.row-2{
  // border: 1px solid black;
  height: 25%;
}
.row-3{
  // border: 1px solid black;
  height: 37.5%;
}
.row-4{
  // border: 1px solid black;
  height: 50%;
}
.row-5{
  // border: 1px solid black;
  height: 62.5%;
}
.row-6{
  // border: 1px solid black;
  height: 75%;
}
.row-7{
  // border: 1px solid black;
  height: 87.5%;
}
.row-8{
  // border: 1px solid black;
  height: 100%;
}