$color-primary:#FA6161;
$color-grey:#EFEFEF;
$color-grey-2: #DEDEDE;
$color-grey-dark-1: #989898;
$color-grey-dark-2: #545454;
$color-white: #FDFDFD;
$color-yellow: #FCC903;
$color-blue: #5785FF;
$color-blue-darker: #4365BE;
$color-green: #34C943;

$default-font-size: 1.6rem;