.pencil {
  &__top {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid $color-blue;
    text-align: center;
    margin: 0 auto;

  }

  &__middle {
    border-bottom: 4rem solid $color-white;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    height: 0;
    width: 6rem;
    margin: 0 auto;
  }

  &__bottom {
    width: 6rem;
    margin: 0 auto;
    height: 25rem;

    &-left {
      height: 100%;
      background: $color-blue-darker;
      width: 50%;
      float: left;
    }
    &-right {
      height: 100%;
      background: $color-blue;
      width: 50%;
      float: right;
    }
  }

}